.modal__overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 2000;
  padding: 15px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.modal__content {
  position: relative;
  width: 100%;
  max-width: 960px;
  max-height: calc(100vh - 100px);
  overflow-y: auto;
  z-index: 2001;
  background-color: white;
}
