html,
body {
  height: 100%;
  line-height: 1.5;
  color: #333333;
}

html {
  font-size: 62.5%; /* rem root */
}

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  overflow-x: hidden;
  font-size: 14px;
}

body.fontLoaded {
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

body.ReactModal__Body--open {}

a {
  color: black;
}

.swiper-container.acnh-critterpedia-slides {
  overflow: visible;
}

/* the animation for loader.svg */
@keyframes loader-fade {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.bmc-button img {
  height: 22px;
  width: 25px;
  margin-bottom: 1px;
  box-shadow: none;
  border: none;
  vertical-align: middle;
}

.bmc-button {
  line-height: 25px;
  height: 39px;
  min-width: 217px;
  text-decoration: none;
  display: inline-flex;
  color: #ffffff;
  background-color: #e39034;
  border-radius: 5px;
  border: 1px solid transparent;
  padding: 7px 10px 7px 10px;
  font-size: 18px;
  letter-spacing: 0.6px;
  box-shadow: 0 1px 2px rgba(190, 190, 190, 0.5);
  margin: 0 auto;
  font-family: 'Cookie', cursive;
  box-sizing: border-box;
  transition: 0.3s all linear;
  position: relative;
  top: 0.25ex;
}

.bmc-button:hover, .bmc-button:active, .bmc-button:focus {
  text-decoration: none;
  box-shadow: 0 1px 2px 2px rgba(190, 190, 190, 0.5);
  opacity: 0.85;
  color: #ffffff;
}

.bmc-button > span {
  margin-left: 15px;
}

[id^="google_ads_iframe"] {
  margin: 0 auto;
}
